@import url('https://fonts.googleapis.com/css?family=Germania+One|Mrs+Sheppards|Open+Sans+Condensed:300');


/* deep purple: #310A31
rythm: #847996
pewter blue: #88B7B5
cambridge blue: #A7CAB1
eggshell: #F4ECD6 */

/* General */
* {
    background: #F4ECD6;
    box-sizing: border-box;
    color: #310A31;
}

body {
    margin: 0 auto;
    width: 80%;
}


/* Nav Styling */
    #header {
        background: #88B7B5;
        box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);
        height: 3em;
        left: 0;
        line-height: 3em;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10000;
    }
    
    #header nav {
        background: #88B7B5;
        height: 3em;
        line-height: 3em;
        margin: 0 auto;
        width: 50%;
    }

    #header nav h1 {
        background: #88B7B5;
        cursor: default;
        float: left;
        height: 3em;
        line-height: 3em;
    }

    #header nav h1 a {
        background: #88B7B5;
        color: #F4ECD6;
        font-family: 'Mrs Sheppards', cursive;
        font-size: 2em;
        text-decoration: none;
    }

    #header nav h1 a:hover {
        color: #310A31;
        -webkit-text-stroke-color: #F4ECD6;
        -webkit-text-stroke-width: 0.05em;
    }

    #header nav ul {
        background: #88B7B5;
        float: right;
        height: 3em;
        line-height: 3em;
    }

    #header nav ul li {
        background: #88B7B5;
        display: inline-block;
        /* font-size: 1.25em; */
        margin-left: 3em;
    }

    #header nav ul li a {
        background: #88B7B5;
        color: #F1E8B8;
        display: block;
        font-family: 'Open Sans Condensed', sans-serif;
        height: 3em;
        line-height: 3em;
        outline: 0;
        text-decoration: none;
    }

    #header nav ul li a:hover {
        border-bottom: .75em solid #847996;
        color: #A7CAB1;
        font-family: 'Mrs Sheppards', cursive;
        padding: .1em;
        -webkit-text-stroke-color: #310A31;
        -webkit-text-stroke-width: 0.05em;
    }


/* Main Content Styling */
    #home, #products, #results {
        border-bottom: 1em solid black;
        font-family: 'Open Sans Condensed', sans-serif;
        height: 50em;
        width: 100%;
    }

    #products h1, #results h1 {
        font-family: 'Germania One', cursive;
        font-size: 30px;
        font-size: 3vw;
        padding-top: 3em;
        text-align: center;
        width: 100%;
    }


    /* Home Section */
        #home {
            background-image: url("./../img/busseat.jpg");
            background-repeat: no-repeat;
            background-size: contain;
        }

        #home h1 {
            background: transparent;
            display: inline;
            font-size: 60px;
            font-size: 6vw;
            left: 2.5em;
            position: absolute;
            top: 2em;
            -webkit-text-stroke-color: #F4ECD6;
            -webkit-text-stroke-width: 0.01em;
        }

        #home h2 {
            background: transparent;
            font-size: 30px;
            font-size: 4vw;
            left: 7em;
            position: absolute;
            top: 10em;
            -webkit-text-stroke-color: #F4ECD6;
            -webkit-text-stroke-width: 0.02em;
        }

        #home a {
            background-color: #88B7B5;
            border: .1em solid #847996;
            border-radius: 2px;
            font-size: 2vw;
            left: 23em;
            padding: .25em;
            position: absolute;
            text-decoration: none;
            top: 24em;
        }

        #home a:hover {
            background-color: #310A31;
            border-color: #F4ECD6;
            color: #88B7B5;
        }


    /* products Section */
        #products article {
            background-color: #847996;
            border: .5em solid #A7CAB1;
            height: 23em;
            margin: 1em auto;
            padding: 3em;
            width: 90%;
        }

        #products article figure {
            border: .5em solid #F4ECD6;
            display: inline-block;
            margin: 0 auto;
            width: 30%;
        }

        #products article figure:first-of-type {
            float: left;
        }

        #products article figure:nth-of-type(2) {
            margin-left: 5%;
        }

        #products article figure:last-of-type {
            float: right;
        }

        #products article figure img {
            border: .05em solid #310A31;
            width: 100%;
        }

        #products article figure figcaption {
            background: #88B7B5;
            border: .05em solid #310A31;
            height: 2em;
            line-height: 2em;
            text-align: center;
        }

        
    /* results Section */
        #results article {
            background-color: #E58F65;
            height: 35em;
            margin-left: 25%;
            margin-right: 25%;
            width: 50%;
        }

    /* Footer */
        footer {
            background: #F1E8B8;
            height: 3em;
            line-height: 3em;
            text-align: center;
        }

        footer ul li {
            display: inline-block;
        }